* {
    box-sizing: border-box;
    
}
  :root{
      --bg: #f2f9ff;
      --text: #1b2229;
      --card: #fff;
      --shadow: #606b7221;
      --primary: #165da5;
  }
  .dark{
      --bg: #101316;
      --card: #181f25;
      --text: #e9f4ff;
  }
  /* Style général */
  body {
    background-color: var(--bg);
    color: var(--text);
    min-height: 100vh;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
      Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  /* Conteneur principal */
  #app {
    min-height: 100vh;
    position: fixed;
    inset: 0;
    overflow: auto;
  }
  